body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  .container {
    display: flex;
    height: 100vh;
  }

  .sidebar {
    width: 20%;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .sidebar a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    text-align:center;
    background-color:#e9ecef;
    border-radius: 5px;
  }

  .sidebar a:hover {
    background-color: #495057;
    color: #fff;
  }

  .content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
  }

  .content iframe {
    width: 100%;
    height: 100%;
    border: none;
  }