<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>物品出入库</title>
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/kucun/all-searchItem.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/kucun/contentCSS.css') }}">
</head>
<body>
{% block content %}
    <div class="fixed-container">
        <h2>物品出入库</h2>
        <div class="request_form search">
            <div class="mb-3">
                <label for="product_names" class="form-label">物品名</label>
                <div id="productNamesContainer">
                    {% for product_name in product_names %}
                    <button type="submit" class="btn btn-secondary mr-2 mb-2" data-product-name="{{ product_name }}">{{ product_name }}</button>
                    {% endfor %}
                </div>
            </div>
            <div class="mb-3">
                <label for="location_names" class="form-label">存储地点</label>
                <div id="locationNamesContainer">
                    {% for location_name in location_names %}
                    <button type="submit" class="btn btn-secondary mr-2 mb-2" data-location-name="{{ location_name }}">{{ location_name }}</button>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- 为其他查询类型添加相应的容器和类名，例如 search-inventory 和 search-damage -->
    </div>
{% endblock %}
</body>
</html>