<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>盘点</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/kucun/all-searchItem.js') }}"></script>
</head>
<body>
{% block content %}
    <div class="container">
        <h2 class="my-4">盘点</h2>
        <div class="mb-3">
            <label for="searchOption" class="form-label">筛选类型</label>
            <div class="but_s_o2">
                <button type="button" class="btn btn-primary mr-2" data-search-option="0" data-user="{{ username }}">按物品名筛选</button>
                <button type="button" class="btn btn-primary" data-search-option="1" data-user="{{ username }}">按存储处筛选</button>
            </div>
        </div>
        <form action="/search_Inventory" method="GET" id="search_Inventory_form">
            <input type="hidden" name="username" value="{{username}}">
            <div class="mb-3">
                <label for="query" class="form-label">筛选条件</label>
                <select class="form-select" name="query" id="query">
                    {% for option in options %}
                    <option value="{{ option }}">{{ option }}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="hidden" id="resultInput" name="result" value="{{search_index}}">
            <div class="mb-3">
                <input type="submit" class="btn btn-primary" value="搜索">
            </div>
        </form>
    </div>
{% endblock %}
</body>
</html>