<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜索结果</title>
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/userEdit.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/SearchResult.css') }}">
</head>
<body>
    <div id="search-results-container">
        <h2>搜索结果</h2>
        <div class="select_options">
        添加用户：
        <form class="add-user-form">
            <input type="text" name="username" placeholder="用户名" id="username-add">
            <input type="password" name="password" placeholder="密码" id="password-add">
            <input type="text" name="permission" placeholder="权限：1管理员 0普通用户" id="permission-add">
            <button type="submit">添加用户</button>
        </form>
        </div>

        <div>
            <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>用户名</th>
                    <th>密码</th>
                    <th>权限</th>
                </tr>
            </thead>
            <div class="search_results">
              <tbody id="data-table-body">
                <!-- 使用初始数据填充表格 -->
                {% for result in results %}

                <tr class='user-{{ result[0] }}'>
                    <td>{{ result[0] }}</td>
                    <td>{{ result[1] }}</td>
                    <td>{{ result[2] }}</td>
                    <td>{{ result[4] }}</td>
                    <td>
                        <button class="edit-btn" data-id="{{ result[0] }}">编辑</button>
                        <button class="del-btn" data-id="{{ result[0] }}">删除</button>
                    </td>
                </tr>
                {% endfor %}
              </tbody>
            </div>
          </table>
        </div>
    </div>

</body>
</html>
